.question {
  padding: 90px 0;
  &__title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 60px;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
  }
  &__card {
    width: calc(50% - 20px);
    padding: 35px 45px 30px;
    background: #353535;
    border-radius: 20px;
    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      color: #FAFAFA;
    }
    &-desc {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #FFFFFF;
      margin: 20px 0 27px;
    }
  }
}
